# Azure AI Foundry API connection parameters
FOUNDRY_API_ENDPOINT = "https://xxxxxxxxxx.services.ai.azure.com/api/projects/xxxxxxxxxxx"
AGENT_SKILLS_GENERATOR_ID = "asst_xxxxxxxxxxxxxxxxxxxxxxxx"
AGENT_DOCUMENT_EVALUATOR_ID = "asst_xxxxxxxxxxxxxxxxxxxxxxxx"

# Azure CosmosDB connection parameters
AZURE_COSMOS_ENDPOINT = "https://xxxxxxxx.documents.azure.com:443/"
AZURE_COSMOS_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AZURE_COSMOS_DATABASE = "mydatabase"